<header class="navbar navbar-fixed-top navbar-inverse" >
  
   <h3  >BAFANA MOTLOUNG</h3>
    <nav>
     
      <ul class="nav nav-pills pull-right">
        <li ><%= link_to "Home", root_path %></li>
    <li><%= link_to "Academic", academic_history_path %></li>
    <li><%= link_to "About Me", about_me_path %></li>
    <li><%= link_to "Contacts", contacts_path %></li>
    <li><%= link_to "Family", family_path %></li>
     <li>

      </ul>
    </nav>
 
</header>